@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../../assets/Images/login-thumb.jpg) no-repeat;
    /* background-size: 75%; */
    background-position: center;
}

.login-form {
    width: 420px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
    background: transparent;
}

.login__heading {
    font-size: 36px;
    text-align: center;
}

.login__input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login__input {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
}

.login__input::placeholder {
    color: #fff;
}

.login__input-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login__message-error {
    color: red;
    margin-top: -15px;
}

.login__remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 15px 0 15px;
}

.login__remember {
}

.login__checkbox {
    accent-color: #fff;
    margin-right: 3px;
}

.login__forgot {
    color: #fff;
    text-decoration: none;
}

.login__forgot:hover {
    text-decoration: underline;
}

.login__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    background: #ccc;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.login__btn.login-active {
    background: #fff;
    cursor: pointer;
}

.login__btn.login-active:hover {
    opacity: 0.9;
}

.login__btn[disabled="disabled"],
button:disabled {
    cursor: not-allowed;
}

.login__register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0;
}

.login__register {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login__register:hover {
    text-decoration: underline;
}

.loaderIcon {
    margin-right: 7px;
    top: 2px;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
