.sign-up-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../../assets/Images/login-thumb.jpg) no-repeat;
    background-position: center;
}

.sign-up-form {
    width: 420px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px 40px;
    background: transparent;
}

.sign-up__heading {
    font-size: 36px;
    text-align: center;
    /* margin-bottom: -15px; */
}

.sign-up__input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.sign-up__input {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
}

.sign-up__input::placeholder {
    color: #fff;
}

.sign-up__input-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.sign-up__message-error {
    color: red;
    margin: -15px 0;
}

.sign-up__select-box {
    width: 100%;
    height: 50px;
    color: #ccc;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0px 45px 0px 20px;
    background: transparent;
    /* background: #7b6afd; */
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
}

.sign-up__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    background: #ccc;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 15px;
}

.sign-up__btn.sign-up-active {
    background: #fff;
    cursor: pointer;
}

.sign-up__btn.sign-up-active:hover {
    opacity: 0.9;
}

.sign-up__btn[disabled="disabled"],
button:disabled {
    cursor: not-allowed;
}

.sign-up__register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0;
}

.sign-up__register {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.sign-up__register:hover {
    text-decoration: underline;
}
